<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             language="en"
             logFile="citimap-proxy-node.log"
             logFilePath="./"
             logLevel="ALL"
             logToConsole="true"
             mustMatch="false"
             useHTTPS="false"
             port="3692"
             listenURI="/proxy"
             pingPath="/ping"
             statusPath="/status"
             staticFilePath="assets">
    <serverUrls>
        <serverUrl url="https://gis.consortis.gr/mapserver/mapserv"
                   matchAll="false"/>
          <!--<serverUrl url="http://gis.thessaloniki.gr/geoserver/wms"
                   matchAll="false"/> -->
       
    </serverUrls>
</ProxyConfig>
