<!-- views/partials/footer.ejs -->
<div style="background-color: rgb(34, 34, 34); height: 35px;">
    <div class="navbar-form navbar-right" style="padding-right: 0; padding-left: 0; padding-bottom: 0; margin-right: 5px; margin-bottom: 0;">
        <label class="text-primary" id="mcoords"></label>
    </div>
    <div class="navbar-form navbar-left" style="padding-right: 0; padding-left: 10px; padding-bottom: 0; margin-right: 5px; margin-bottom: 0;">
        <label class="text-primary">Powered by citiMap &copy; 2018-2019 | <a href="http://www.consortis.gr" target="_blank" style="color: #ffffff">Consortis</a></label>
    </div>
</div>
<input type="hidden" runat="server" id="hidEnc" />
<input type="hidden" runat="server" id="hidEnc1" />