<!-- views/partials/footer.ejs -->
<div style="background-color: rgb(34, 34, 34); height: 35px; position: fixed;bottom: 0; width: 100%;">
    <div class="navbar-form navbar-right"
        style="padding-right: 0; padding-left: 0; padding-bottom: 0; margin-right: 5px; margin-bottom: 0;">
        <label class="text-primary" id="mcoords"></label>
    </div>
    <div class="navbar-form navbar-left"
        style="padding-right: 0; padding-left: 10px; padding-bottom: 0; margin-right: 5px; margin-bottom: 0;">
        <label class="text-primary">Powered by EVERYMAP &copy; 2018-<%= new Date().getFullYear()%> | <a href="http://www.consortis.gr"
                target="_blank" style="color: #ffffff">Consortis Geospatial</a></label>
    </div>
    <div class="navbar-form navbar-center"  id="divShowMaptips">
        <label class="checkbox-inline" style="left:50%">
            <input type="checkbox" checked data-toggle="toggle" id="chkShowMaptips" data-size="mini" /> <span style="color:white">Show Maptips</span>
          </label>
    </div>
</div>
<input type="hidden" runat="server" id="hidEnc" />
<input type="hidden" runat="server" id="hidEnc1" />