node_modules/
/public/config/layerconfig-lrm.json
/public/config/layerconfig-pbmi.json
/public/config/layerconfig-vt.json
/config/config.json
/package-lock.json
/proxy/citimap-proxy-node.log
/proxy/package-lock.json
/proxy/proxy.sqlite
/proxy/arcgis-proxy-node.log
/.vscode/launch.json
public/config/layerconfig-delta.json
public/config/layerconfig-delta.json
public/config/layerconfig-diavrosi-master.json
public/config/layerconfig-diavrosi-small.json
public/config/layerconfig-test-wfs.json
public/config/layerconfig-tmede_new.json
public/config/layerconfig-tmede-local.json
public/config/layerconfig-tmede.json
public/config/layerconfig-water-morpheas_w_e-pol.json
public/config/layerconfig.json
proxy/arcgis-proxy-node.log
proxy/citimap-proxy-node.log
proxy/citimap-proxy-node.log
/public/modules/maptheyajs
/public/modules/cpfjs
.env