html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
.ol-attribution {
    bottom: 6em;
}
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

#mainparent {
    width: 100%;
    height: 100%;
    position: fixed;
    padding-left: 0;
    padding-right: 0;
}

#mapid {
    height: 100%;
    width: 100%;
    position: relative;
    /* position: absolute; */
}

#mapid2 {
    height: 100%;
    width: 100%;
    position: absolute;
    /* position: relative; */
}

#mapbuttons {
    padding-left: 5px;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 50%;
    margin-top: -88px;
}

#divStatus {
    position: fixed;
    z-index: 9999;
    top: 5.9em;
    width: 100%;
    height: 3em;
}

.righttb {
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 50%;
    margin-top: -88px;
}

.bottomtb {
    position: fixed;
    z-index: 999;
    right: 30%;
    left: 30%;
    bottom: 1.3em;
}

.wait {
    display: none;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('images/ajax-loader.gif') 50% 50% no-repeat;
}

.panel-heading {
    position: relative;
}

 .panel-heading[data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e072"; /* "play" icon */
        position: absolute;
        color: #b0c5d8;
        font-size: 18px;
        line-height: 22px;
        right: 20px;
        top: calc(50% - 10px);
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
}

.panel-heading[data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 20px;
    line-height: 20px; /* Vertically center the text there */
    background-color: #f5f5f5;
    opacity: 0.5;
    text-align: left;
}

/* #cnavbar {
    position: relative;
    top: 0;
    width: 100%;
    height: 50px;
    margin-bottom: 0;
}



#nvheader {
    padding-left: 0;
    position: fixed;
}

#nvcbar {
    padding-left: 0;
}

#ulcbar {
    padding-left: 1px;
}

#mynavbar {
    height: 50px;
    background-image: url(../misc/logo2.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 5px;
} */

/*.popover-content {
    color: red;
    font-size: 12px;
    width:400px;
    margin:0;
}*/
/*li:hover li:not(.divider) {
    background-color: #999;
}*/
#popup {
    min-width: 400px;
    color: red;
    font-size: 12px;
    width: 400px;
    margin: 0;
}


#cpPopup {
    min-width: 150px;
}

#login-dp {
    min-width: 250px;
    padding: 10px 10px 0;
    overflow: hidden;
    background-color: rgba(255,255,255,1);
}

.login-profile-img {
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}



#nvbr {
    margin-top: 15px;
    margin-right: 2px;
}



.ui-dialog-titlebar {
    background-color: rgb(51, 122, 183);
    background-image: none;
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
}
/* Scalebar */
.scalebar {
    position: fixed;
    z-index: 1000;
    left: 10px;
    bottom: 2.8em;
    width: 150px;
    border-radius: 5px;
}

.scalebar, #lblScaleBar {
    background-color: #428bca;
    color: white;
}

#lblScaleBar {
    background-color: #428bca;
    color: white;
}

.graphicscale {
    position: fixed;
    z-index: 9999;
    left: 10px;
    bottom: 2em;
    width: 200px;
}
/* END Scalebar */

/* Navigation buttons */
.lefttb {
    position: absolute;
    /* z-index: 1000; */
    left: 0.9%;
    top: 6em;
}

.ol-control {
    background-color: rgba(255,255,255,0); /* This will make the background transparent */
}

.mapnav {
    border: 0;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 0
}

/* END Zoom buttons */

/* Search controls */
.searchpanel {
    position: fixed;
    z-index: 999;
    right: 0.9%;
    top: 4em;
    width: 30%;
}

td.details-control {
    background: url('images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('images/details_close.png') no-repeat center center;
}
/* End search control */

/* Popup for markers and ZoomToXY dialog */

.popover {
    max-width: 400px;
    min-width: 260px;
}

.popover-content {
    max-height: 100px;
    text-wrap: normal;
    overflow-y: auto;
    overflow-x: hidden;
}

.ol-popup {
    /*position: absolute;*/
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

    .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
    }

    .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
    }

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

    .ol-popup-closer:after {
        content: "✖";
    }
/* END Popup for markers */
.modal-backdrop {
    z-index: -1;
}

#myModal2 {
    z-index: 99;
}

.ogc-layer-list {
    max-height: 200px;
    margin-bottom: 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.displayMap {
    display: inherit;
}

.hideMap {
    display: none;
}

#velocitySelId {
    position: fixed;
    z-index: 999;
    right: 0.9%;
    top: 4em;
    width: 30%;
    text-align: right;
}