html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.ol-attribution {
    bottom: 6em;
}

.dl-horizontal dt {
    white-space: normal;
}
/* fixes max-height:200px from datatables minified css */
.dataTables_scrollBody {
    max-height: none!important;
}
/* fixes ui dialogs right margin, give some pixels for table render*/
.ui-dialog-content {
    width: 100%!important;
}
/* autocomplete scrollbar */
.ui-autocomplete {
    position: absolute;
    cursor: default;
    z-index: 9999 !important;
}
/* autocomplete scrollbar */
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
} 


/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

#mainparent {
    width: 100%;
    height: 100%;
    position: fixed;
    padding-left: 0;
    padding-right: 0;
}

#mapid {
    height: 100%;
    width: 100%;
    position: relative;
    /* position: absolute; */
}

#mapid2 {
    height: 100%;
    width: 100%;
    position: absolute;
    /* position: relative; */
}

#mapbuttons {
    padding-left: 5px;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 50%;
    margin-top: -88px;
}

#divStatus {
    position: fixed;
    z-index: 9999;
    top: 5.9em;
    width: 100%;
    height: 3em;
}

.righttb {
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 50%;
    margin-top: -88px;
}

.wait {
    display: none;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) url('images/ajax-loader.gif') 50% 50% no-repeat;
}

.panel-heading {
    position: relative;
}

.panel-heading[data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072";
    /* "play" icon */
    position: absolute;
    color: #b0c5d8;
    font-size: 18px;
    line-height: 22px;
    right: 20px;
    top: calc(50% - 10px);
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading[data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 20px;
    line-height: 20px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
    opacity: 0.5;
    text-align: left;
}


#popup {
    min-width: 400px;
    color: red;
    font-size: 12px;
    width: 400px;
    margin: 0;
}


#cpPopup {
    min-width: 150px;
}

#login-dp {
    min-width: 250px;
    padding: 10px 10px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
}

.login-profile-img {
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#nvbr {
    margin-top: 15px;
    margin-right: 2px;
}

.ui-dialog-titlebar {
    background-color: rgb(51, 122, 183);
    background-image: none;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

a.navbar-brand img {
    height: 40px;
}

/* WMS-T layers controls */
div#fixBootstrapSliderPluginStyles div.slider.slider-horizontal .slider-track .slider-handle {
    height: 30px !important;
}

.wms-t-control {
    position: absolute;
    left:6%; top:4em;
    width:700px;
}

/* END WMS-T layers controls */

/* Scalebar */
.scalebar {
    position: fixed;
    z-index: 1000;
    left: 10px;
    bottom: 2.8em;
    border-radius: 5px;
}

.input-group[class*=col-] {
    width: 15%;
}

.scalebar,
#lblScaleBar {
    background-color: #428bca;
    color: white;
}

#lblScaleBar {
    background-color: #428bca;
    color: white;
}

.graphicscale {
    position: fixed;
    z-index: 9999;
    left: 10px;
    bottom: 2em;
    width: 200px;
}

/* END Scalebar */

/* Navigation buttons */
.lefttb {
    position: absolute;
    /* z-index: 1000; */
    left: 0.9%;
    top: 6em;
}

.ol-control {
    background-color: rgba(255, 255, 255, 0);
    /* This will make the background transparent */
}

.mapnav {
    border: 0;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 0
}

/* END Zoom buttons */


td.details-control {
    background: url('images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('images/details_close.png') no-repeat center center;
}

/* End search control */

.modal-backdrop {
    z-index: -1;
}

#myModal2 {
    z-index: 99;
}

.ogc-layer-list {
    max-height: 200px;
    margin-bottom: 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.displayMap {
    display: inherit;
}

.hideMap {
    display: none;
}

#velocitySelId {
    position: fixed;
    z-index: 999;
    right: 0.9%;
    top: 4em;
    width: 30%;
    text-align: right;
}

#velocityColorScaleId {
    position: fixed;
    z-index: 999;
    top: 4em;
    width: 40%;
    text-align: center;
    right: 50%;
    background-color: white;
    padding: 5px;
}
/* Context menu */
.ol-ctx-menu-container{
    max-height: 350px;
    overflow-y: auto;
}
/* Popup for markers and ZoomToXY dialog */

.popover {
    max-width: 400px;
    min-width: 260px;
}

.popover-content {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

/* END Popup for markers */

/* Popup for COVID-19 Layers radio group */
.covid-radio-group {
    position: fixed;
    top: 8px;
    right: 100px;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.15);
    border: none
}

.covid-radio-item {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/* END Popup for COVID-19 Layers radio group */

/* 
  ##Device = Laptops, Desktops
*/
@media (min-width: 1025px) {

    /* WMS - T layer */
    .wms-t-control {
        position: absolute;
        left:4%; top:4em;
        width:700px;
        padding-left: 20px;
    }
    
    /* START SEARCH BAR */
    #mainparent.has-header .searchpanel {
        position: fixed;
        z-index: 999;
        top: 4em;
        width: 30%;
        right: 4.5%;
    }
    #mainparent.no-header .searchpanel {
        position: fixed;
        z-index: 999;
        top: 1em;
        width: 30%;
        right: 4.5%;
    }

    .bottomtb {
        position: fixed;
        z-index: 999;
        right: 30%;
        left: 30%;
        bottom: 1.3em;
    }

    /* END SEARCH BAR */
    #mainparent.has-header #legendButton {
        top: 55px !important;
    }

    #mainparent.has-header #graphicLegend {
        top: 55px !important;
    }

    #mainparent.no-header #legendButton {
        top: 15px !important;
    }

    #mainparent.no-header #graphicLegend {
        top: 15px !important;
    }

    /* START BOTTOM TOOLBAR */
    .bottomtb {
        position: fixed;
        z-index: 999;
        bottom: 2.6em;
    }

    div#bottomToolbar {
        left: 50%;
        width: 406px;
        transform: translate(-50%, 0%);
    }

    .btn-group>.btn {
        position: unset;
    }

    #divEditPanel {
       position:absolute;
       bottom:5px;
       left:40%; 
    }

    #divShowMaptips{
        position:absolute;
        bottom:5px;
        right:20%; 
    }

    /* END BOTTOM TOOLBAR */


}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    
    /* WMS - T layer */
    .wms-t-control {
        position: absolute;
        left:25%;
        top:8em;
        width:50%;
    }

    /* START SEARCH BAR */
    #mainparent.has-header .searchpanel {
        position: fixed;
        z-index: 999;
        top: 4em;
        width: 40%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    /* START SEARCH BAR */
    #mainparent.no-header .searchpanel {
        position: fixed;
        z-index: 999;
        top: 1em;
        width: 40%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .bottomtb {
        position: fixed;
        z-index: 999;
        right: 30%;
        left: 30%;
        bottom: 1.3em;
    }

    /* END SEARCH BAR */
    #mainparent.has-header #legendButton {
        top: 55px !important;
    }

    #mainparent.has-header #graphicLegend {
        top: 55px !important;
    }

    #mainparent.no-header #legendButton {
        top: 15px !important;
    }

    #mainparent.no-header #graphicLegend {
        top: 15px !important;
    }

    /* START SELECT SCALE */
    .input-group[class*=col-] {
        display: none;
    }

    /* END SELECT SCALE */
    /* START INFO BTN*/
    .ol-attribution {
        display: none;
    }

    /* END INFO BTN*/

    /* START BOTTOM TOOLBAR */
    .bottomtb {
        position: fixed;
        z-index: 999;
        bottom: 2.6em;
    }

    div#bottomToolbar {
        left: 50%;
        width: 406px;
        transform: translate(-50%, 0%);
    }

    .btn-group>.btn {
        position: unset;
    }

    #divEditPanel {
        position:absolute;
        bottom:5px;
        left:30%; 
     }
 
     #divShowMaptips{
         position:absolute;
         bottom:5px;
         right:20%; 
     }
     #lblCopyright {
         font-size: x-small;
     }
     #mcoords {
        font-size: x-small;
    }
    #lblShowMaptips {
        font-size: x-small;
    }
    #lblCurrentlyEditing {
        font-size: x-small;
    }
    /* END BOTTOM TOOLBAR */
    /* START DIALOGS */
    .cg_dialog_class {
        top: 50% !important;
        left: 50% !important;
        width: 90% !important;
        height: 90% !important;
        transform: translate(-50%, -50%) !important;
    }

    .ui-dialog-buttonpane {
        position: absolute;
        bottom: 0px;
        width: 100% !important;
    }

    .ui-dialog-content {
        height: 70% !important;
        
    }

    /* END DIALOGS */
    .covid-radio-group {
        position: fixed;
        top: 55px;
        left: 50px;
        z-index: 9;
        background-color: rgba(255, 255, 255, 0.15);
        border: none
    }
}



/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 768px
*/

@media (min-width: 481px) and (max-width: 768px) {
    #cnavbar {
        z-index: 999;
    }

    /* WMS - T layer */
    .wms-t-control {
        position: absolute;
        left:25%;
        top:8em;
        width:40%;
    }

    /* START SEARCH BAR */
    #mainparent.has-header .searchpanel {
        position: fixed;
        z-index: 999;
        top: 4em;
        width: 60%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    #mainparent.no-header .searchpanel {
        position: fixed;
        z-index: 999;
        top: 1em;
        width: 60%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .bottomtb {
        position: fixed;
        z-index: 999;
        right: 30%;
        left: 30%;
        bottom: 1.3em;
    }

    /* END SEARCH BAR */
    #mainparent.has-header #legendButton {
        top: 55px !important;
    }

    #mainparent.has-header #graphicLegend {
        top: 55px !important;
    }

    #mainparent.no-header #legendButton {
        top: 15px !important;
    }

    #mainparent.no-header #graphicLegend {
        top: 15px !important;
    }

    /* START LEFT BAR */
    .lefttb {
        top: 50%;
        transform: translateY(-50%) !important;
    }

    button#btnZoomIn {
        display: none;
    }

    button#btnZoomOut {
        display: none;
    }

    button#btnZoomInBox {
        display: none;
    }

    button#btnZoomOutBox {
        display: none;
    }

    /* END LEFT BAR */
    /* START BOTTOM TOOLBAR */
    .bottomtb {
        position: fixed;
        z-index: 999;
        bottom: 2.6em;
    }

    div#bottomToolbar {
        left: 50%;
        width: 406px;
        transform: translate(-50%, 0%);
    }

    button#btnSelByRect {
        display: none;
    }

    .btn-group>.btn {
        position: unset;
    }

    #divEditPanel {
        position:absolute;
        bottom:5px;
        left:40%; 
     }
 
     #divShowMaptips{
         position:absolute;
         bottom:5px;
         right:20%; 
     }
     #lblCopyright {
        font-size: x-small;
    }
    #mcoords {
       font-size: x-small;
    }
    #lblShowMaptips {
       font-size: x-small;
    }
    #lblCurrentlyEditing {
       font-size: x-small;
    }

    /* END BOTTOM TOOLBAR */
    /* START SELECT SCALE */
    .input-group[class*=col-] {
        display: none;
    }

    /* END SELECT SCALE */
    /* START INFO BTN*/
    .ol-attribution {
        display: none;
    }

    /* END INFO BTN*/
    /* START DIALOGS */
    .cg_dialog_class {
        top: 50% !important;
        left: 50% !important;
        width: 90% !important;
        height: 90% !important;
        transform: translate(-50%, -50%) !important;
    }

    .ui-dialog-buttonpane {
        position: absolute;
        bottom: 0px;
        width: 100% !important;
    }

    .ui-dialog-content {
        height: 70% !important;
    }

    /* END DIALOGS */
    .covid-radio-group {
        position: fixed;
        top: 55px;
        left: 50px;
        z-index: 9;
        background-color: rgba(255, 255, 255, 0.15);
        border: none
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    /* WMS - T layer */
    .wms-t-control {
        position: absolute;
        left:25%;
        top:8em;
        width:50%;
    }
    
    /* START TOP BAR */
    .navbar-brand {
        width: 80%;
    }

    .navbar-text {
        font-size: 15px !important;
    }

    #mainparent.has-header #legendButton {
        top: 55px !important;
    }

    #mainparent.has-header #graphicLegend {
        top: 55px !important;
    }

    #mainparent.no-header #legendButton {
        top: 15px !important;
    }

    #mainparent.no-header #graphicLegend {
        top: 15px !important;
    }

    a.navbar-brand img {
        display: none;
    }

    /* END TOP BAR */

    /* START SEARCH BAR */
    .searchpanel {
        position: fixed;
        z-index: 999;
        top: 55px;
        width: 80%;
        left: 3px;
    }

    .input-group-lg>.form-control {
        font-size: 15px;
    }

    #searchOpt.dropdown-menu>li>a {
        color: #333 !important;
    }

    /* END SEARCH BAR */

    /* START LEFT BAR */
    .lefttb {
        top: 50%;
        transform: translateY(-50%) !important;
    }

    button#btnZoomIn {
        display: none;
    }

    button#btnZoomOut {
        display: none;
    }

    button#btnZoomInBox {
        display: none;
    }

    button#btnZoomOutBox {
        display: none;
    }

    /* END LEFT BAR */

    /* START SELECT SCALE */
    .input-group[class*=col-] {
        display: none;
    }

    /* END SELECT SCALE */
    /* START INFO BTN*/
    .ol-attribution {
        display: none;
    }

    /* END INFO BTN*/

    .ui-dialog {
        width: 320px !important;
        top: 100px !important;
        left: 42px !important;
    }

    /* START BOTTOM TOOLBAR */
    .bottomtb {
        position: fixed;
        z-index: 999;
        bottom: 2.6em;
    }

    div#bottomToolbar {
        left: 50%;
        width: auto;
        transform: translate(-50%, 0%);
    }

    button#btnSelByRect {
        display: none;
    }

    .btn-group>.btn {
        position: unset;
    }

    #divEditPanel {
        position:absolute;
        bottom:5px;
        left:40%; 
     }
 
     #divShowMaptips{
         position:absolute;
         bottom:5px;
         right:20%; 
     }

    /* END BOTTOM TOOLBAR */
    /* START DIALOGS */
    .cg_dialog_class {
        top: 50% !important;
        left: 50% !important;
        width: 90% !important;
        height: 90% !important;
        transform: translate(-50%, -50%) !important;
    }

    .ui-dialog-buttonpane {
        position: absolute;
        bottom: 0px;
        width: 100% !important;
    }

    .ui-dialog-content {
        height: 70% !important;
    }

    /* END DIALOGS */
    /* Popup for COVID-19 Layers radio group */
    .covid-form-group {
        margin-bottom: 1px;
    }

    .covid-radio-group {
        position: fixed;
        top: 55px;
        right: 100px;
        z-index: 9;
        background-color: rgba(255, 255, 255, 0.15);
        border: none
    }

    .covid-radio-item {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 10px;
        width: 38% !important
    }

    /* END Popup for COVID-19 Layers radio group */
}

/* 
  ##Device = ALL
*/
#cnavbar {
    z-index: 99999;
}

div#modLogin {
    z-index: 999999;
}

/*div#popup1 {
	position:unset;
}*/